nav{
    width: 100%;
    display: flex;
}
.ul-navbar{
    display: flex;
    list-style: none;
    margin: 30px;
    justify-content: space-between;
    width: 20%;
}
.ul-navbar>li>a{
    display: grid;
    text-decoration: none;
    color: #181818;
    font-family: Gotham Pro;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 13px;

text-align: center;
text-transform: uppercase;

color: #181818;
}
nav> input{
    border: none;
    padding: 10px;
}
nav> input:active{
    border: none;

}

.ul-navbar>li>a>img{
margin: auto;
margin-bottom: 10px;
}

.logoutBtn{
    position: relative;
    margin: auto;
    left: 300px;
}


  
  .MuiBox-root{
      width: 30%;
      border: none !important;
  }

  .MuiTabs-flexContainer{
      display: grid !important;
      float: left;
  }

 .Mui-selected{
    border-left: 5px solid #0275B1 !important;
} 

.MuiTabs-indicator {
    display: none;
}