body{
    overflow-x:hidden ;
}
nav{
    width: 100%;
    display: flex;
}
.ul-navbar{
    display: flex;
    list-style: none;
    margin: 30px;
    justify-content: space-between;
    width: 20%;
}
.ul-navbar>li>a{
    display: grid;
    text-decoration: none;
    color: #181818;
    font-family: Gotham Pro;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 13px;

text-align: center;
text-transform: uppercase;

color: #181818;
}
nav> input{
    border: none;
    padding: 10px;
}
nav> input:active{
    border: none;

}

.ul-navbar>li>a>img{
margin: auto;
margin-bottom: 10px;
}

.logoutBtn{
    position: relative;
    margin: auto;
    left: 300px;
}


  
  .css-1n3h4wo{
      width: 100%;
      border: none !important;
      /* display: flex; */
      margin-left: 4rem;
  }

  .css-heg063-MuiTabs-flexContainer{
      display: grid !important;
      float: left;
  }

 .Mui-selected{
    border-left: 5px solid #0275B1 !important;
} 

.MuiTabs-indicator {
    display: none;
}

.tabpanel{
    width: 70%;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
   
    
  }

  .hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }

  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }