*{
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}
.button-login {   
  background-color: #0077B5 ;   
  width: 100%;  
   color: white;   
   padding: 15px;   
   border: none;   
   cursor: pointer;   
    } 
    
.button-signup { 
  background-color: white ;   
  width: 100%;  
  color: #0077B5;   
  padding: 15px;   
  border: 1px solid #0077B5;
  
  cursor: pointer;   
        }  
  
input[type=text], input[type=password] {   
   width: 100%;   
   margin: 8px 0;  
   padding: 12px 20px;   
   display: inline-block;   
   border: 1px solid #828282;   
   box-sizing: border-box;   
}  
button:hover {   
   opacity: 0.7;   
}   

   

.form-wrap {   
  padding: 80px;
  height: 100vh;
   background-color: white;  
}   
.linkedinHome{
  width: 50%;
  background-color: #0077B5;
}
.linkedinHome>img{
  position: relative;
  top: 45%;
}
.loginHome{
width: 50%;
background-color: white;
}